APP_NAME=MailerSaaS
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mailersaas
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=change-me-in-production
FRONTEND_URL=https://mail-hub.pro
CORS_ORIGINS=https://mail-hub.pro
CREDIT_PRICE_PER_EMAIL=1
