fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
alembic
aiohttp
Brotli
beautifulsoup4
random_user_agent
pydantic[email]
python-dotenv
passlib[bcrypt]
bcrypt>=4.0,<4.1
python-jose[cryptography]
apscheduler
